header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 8px;
}
header h1 {
  color: MediumAquamarine;
  padding: 20px 80px;
  margin:0 10px;
  font-size: 14px;
  background-image: url("../images/img-myt-logo.jpg");
  background-repeat: no-repeat;
}
header ul {
  list-style-type: none;
  margin:0;
  padding-right:20px;
}
header ul li {
  display: inline-block;
  padding: 0 10px;
}
header ul li a {
  color: black;
}
main {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
